set -g default-terminal "tmux-256color"
set -ag terminal-overrides ",xterm-256color:RGB"

set -s escape-time 50
set-option -g status-position top
set-option -g status-left '  '
set-option -g status-style bg='#eaeaa4',fg='#000000'
set-option -g status-right '#[fg=#000000][#S] #h {{ if eq .chezmoi.hostname "lappy386" }}#(~/bin/ttl.sh){{ end }}'
set-window-option -g window-status-current-style bg='#ebdef0',fg='#000000',bold
set-window-option -g window-status-format '  #I #W#F  '
set-window-option -g window-status-current-format '#[fg=#131313,bg=#eaeaa4]#[fg=#ffffff,bg=#131313] #I #W#F #[fg=#131313,bg=#eaeaa4]'
set -g base-index 1
set -g pane-base-index 1
set -g mouse on
set -g focus-events on
set-option -g detach-on-destroy off
set-option -g renumber-windows on
bind-key x kill-pane
bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded"
bind C-j display-popup -T " Switch Session " -E "tmux list-sessions | sed -E 's/:.*$//' | grep -v \"^$(tmux display-message -p '#S')\$\" | fzf --reverse | xargs -I {} tmux switch-client -t '{}'"

# More intuitive pane splitting key-bindings, open all in current path
bind - split-window -v -c '#{pane_current_path}'
bind \\ split-window -h -c '#{pane_current_path}'
bind c new-window -c '#{pane_current_path}'

# Easy pane resizing, fine granularity
bind -n S-Left resize-pane -L 2
bind -n S-Right resize-pane -R 2
bind -n S-Down resize-pane -D 1
bind -n S-Up resize-pane -U 1
# Pane resizing, coarse, works with iTerm mapping from cmd-arrow to C-b arrow
bind Left resize-pane -L 10
bind Right resize-pane -R 10
bind Down resize-pane -D 5
bind Up resize-pane -U 5

# Smart pane switching with awareness of Vim splits.
# See: https://github.com/christoomey/vim-tmux-navigator
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|l?n?vim?x?)(diff)?$'"
bind-key -n 'C-h' if-shell "$is_vim" 'send-keys C-h'  'select-pane -L'
bind-key -n 'C-j' if-shell "$is_vim" 'send-keys C-j'  'select-pane -D'
bind-key -n 'C-k' if-shell "$is_vim" 'send-keys C-k'  'select-pane -U'
bind-key -n 'C-l' if-shell "$is_vim" 'send-keys C-l'  'select-pane -R'
tmux_version='$(tmux -V | sed -En "s/^tmux ([0-9]+(.[0-9]+)?).*/\1/p")'
if-shell -b '[ "$(echo "$tmux_version < 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\'  'select-pane -l'"
if-shell -b '[ "$(echo "$tmux_version >= 3.0" | bc)" = 1 ]' \
    "bind-key -n 'C-\\' if-shell \"$is_vim\" 'send-keys C-\\\\'  'select-pane -l'"

bind-key -T copy-mode-vi 'C-h' select-pane -L
bind-key -T copy-mode-vi 'C-j' select-pane -D
bind-key -T copy-mode-vi 'C-k' select-pane -U
bind-key -T copy-mode-vi 'C-l' select-pane -R
bind-key -T copy-mode-vi 'C-\' select-pane -l
